.nav {
  border: 2px solid #eaeaea;
  border-radius: 5rem;

  padding: 1rem;
  margin: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.get {
  color: black;
}
